In [2]:
import pandas as pd
import numpy as np

In [3]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-macosx_11_0_arm64.whl.metadata (4.9 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.5 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/sharifuzzamansushmoy/Programming/venv/lib/python3.12/site-packages (from sqlalchemy) (4.14.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-macosx_11_0_arm64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 6.2 MB/s eta 0:00:00a 0:00:01
Downloading sqlalchemy-2.0.44-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 6.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: sqlalchemy, psycopg2-binary
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [psycopg2-binary]
Successfully installed psycopg2-binary-2.9.11 sqlalchemy-2.0.44
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine

df = pd.read_csv('project_cleaned_v2.0.csv')

engine = create_engine('postgresql://postgres:sushmoy123@localhost:5432/project')

df.to_sql('salary_data', engine, if_exists='replace', index=False)

print(f"Rows: {len(df):,}")

Rows: 27,807

In [13]:
query1 = """
select 
job_category,
avg(annual_salary_usd) as avg_salary,
count(*) as total_employee
from salary_data
group by job_category
order by avg_salary desc
limit 10
"""

result1 = pd.read_sql(query1, engine)
print(result1)

                job_category     avg_salary  total_employee
0  Engineering & Development  114439.337163            3743
1             Legal Services  109613.033373             839
2                  Scientist   99683.443902             615
3                 Management   96262.779331            8515
4                         HR   94947.095975             323
5                   Business   91176.161017             118
6      Consulting & Strategy   88991.687151             895
7                 Healthcare   86186.368493             730
8                  Analytics   79550.200926            1727
9       Accountant & Finance   74399.310067             745

job_category                    job_title
Library & Information Services  Librarian                                         500000.0
Unclassifiable                  Turnip Farmer                                     500000.0
Engineering & Development       Senior Software Engineer                          500000.0
HR                              Partner                                           500000.0
Administrative & Operations     Program Associate                                 499945.0
                                                                                    ...
Unclassifiable                  Americorps Member                                  15400.0
Engineering & Development       Linux Devops Engineer                              15089.0
Unclassifiable                  Dancer                                             15081.0
Education & Training            Adjunct Professor And Phd Student                  15000.0
Marketing & Sales               Graduate Assistant For Athletic Communications     15000.0
Name: annual_salary_usd, Length: 11642, dtype: float64